
<div class="row">

  <div class="col-8">
    <div class="flat-name show-card">
      <h1> <%= @flat.name %></h1>
      <p> <%= @flat.address %> </p>
    </div>

    <div class="flat-description show-card">
      <h3> A bit more about this flat...</h3>
      <p> <%= @flat.description %> </p>
    </div>

  </div>

 <div class="col-4">
    <div class="show-card">
      <h5>Book this place</h5>
    </div>

    <div class="show-card">
      <h3>Details</h3>
    </div>
    <div class="show-card">
      <h6>Share</h6>
    </div>
  </div>
</div>


