@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


.card{
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border: black;
  padding: 0;
  margin-top: 20px;
}

.card-banner{
  height: 180px;
  background-position: center;
  background-size: cover;
}

.card-content{
  padding: 24px;
  background-color: #F8F9FA;
}

a:hover{
  text-decoration: none;
  color: white;
}

.brand a{
color: black;
font-size: 20px;
}

.show-card{
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border: black;
  background-color: #F8F9FA;
  margin-top: 25px;
}

.show-banner{
height: 350px;
background-position: center;
background-size: cover;
}

.show-content{
  margin-top: -86px;
}

.show-flat-description{
  height: 500px;
}

.share-card i {
  font-size: 24px;
}
